


*,
::after,
::before {
	box-sizing: content-box;
}

.page {
	position: absolute;
	height: 95%;
}


/* 上部分的两个 */
.rowUpper {
	height: 40%;
	margin-bottom: 10%;
}
.navigatorTap{
	position: relative;
	height: 100%;
	width: 49%;
}

.rowUpperList1,
.rowUpperList2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* width: 49%; */
	border-radius: 5%;
	/* box-shadow: 0 -1px 1px 0px rgb(185, 181, 181) inset; */
}

.rowUpperList1 {
	/* margin-right: 1%; */

}

.rowUpperList2 {
	/* margin-left: 1%; */

}

.upperIT {
	position: relative;
	height: 50%;
	width: 50%;
}
 
.upperImg {
	display: flex;
	opacity:0.60;
	height: 70%;
	width: 100%;
}

.upperText {
	position: relative;
	height: 30%;
    width: 100%;
    text-align: center;

}
.upperTextsize{
		font-style: 4vh;
}



/* 下部分                 -----------                 */
.columnBelow {
	height: 45%;
	margin-bottom: 15%;
}
.columnBelowList1,
.columnBelowList2,
.columnBelowList3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30%;
		box-shadow: 0 -1px 0 0 rgb(227, 220, 220) inset;

}

.columnBelowListView {
	display: flex;
	width: 100%;
	height: 50%;
	justify-content: center;
	align-items: center;
}

.belowStrip {
	position: relative;
	left: -13.5%;
	height: 100%;
	width: 1%;
}

.belowIcon {
	position: relative;
	height: auto;
	width: 12%;
	left: -10%;
	font-size: 20px;
}

.belowText {
	position: relative;
	left: -12%;
	height: auto;
	width: 50%;
	font-size: 2.2;

}

.jianTou {
	position: relative;
	height: auto;
	width: 10%;
	left: 15%;
}

 	/* 提示窗口 */
	
 	.uni-tip {
 		padding: 15px;
 		width: 300px;
 		background: #fff;
 		box-sizing: border-box;
 		border-radius: 10px;
 	}
 
 	.uni-tip-title {
 		text-align: center;
 		font-weight: bold;
 		font-size: 16px;
 		color: #333;
 	}
 
 	.uni-tip-content {
 		padding: 15px;
 		font-size: 14px;
 		color: #666;
 	}
 
 	.uni-tip-group-button {
 		margin-top: 10px;
 		display: flex;
 	}
 
 	.uni-tip-button {
 		width: 100%;
 		text-align: center;
 		font-size: 14px;
 		color: #3b4144;
 	}
	
	.addRoommate{
	    position: fixed;
	    height: 10vh;
	    width: 10vh;
	    bottom: 10%;
	    right: 5%;
	    background-color: #89a5d4;
	    font-size: 2;
	    color: #ffffff;
	    font-size: 2vh;
	    border-radius: 50%;
	}
