.rowUpperList1 {
	background-color: #FFFFFF;
	box-shadow: 0 0px 0px 0px rgb(185, 181, 181) inset;
	
}
.rowUpperList2 {
	background-color: #FFFFFF;
	box-shadow: 0 -4px 0px 0px rgb(185, 181, 181) inset;
	
}